# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse
.classpath
.project
.settings/
*.prefs
*.ucls
bin/
 
# Intellij
.idea/
out/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
/bin/
*.ucls
*.xcf

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
